---
import Layout from "../layouts/Layout.astro";

---

<Layout title="About Me">
    <div id="centered" >
        <h1>About</h1>
        <p>Hello, my name is Andrei Valentin.</p>
        <img src="https://media2.giphy.com/media/JIX9t2j0ZTN9S/200w.gif?cid=790b761107oxyp9uq5ygqko01jssmxukm8tral8n613hevuc&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="cat working" />
        <p>I am an artist that also goes by the name f24816. Here you can find my blogs, essays and other resources. The numbers 24816 are an easy to remember geometric sequence, multiplying the previous term in the sequence by 2 gives you the next term. It doesen't mean anything, it's just a pattern that's easy to remember and it's also a color code for orange.</p>
        <p>You can find me on:</p>
        <ul>
            <li><a href="https://instagram.com/f24816">Instagram</a></li>
            <li><a href="https://www.youtube.com/channel/UCql8CkjkDIvP6soHeaq-RqA">Youtube</a></li>
            <li><a href="https://pinterest.com/f24816">Pinterest</a></li>
            <li><a href="https://deviantart.com/f24816">DeviantArt</a></li>
            <li><a href="https://f24816.bandcamp.com">Bandcamp</a></li>
        </ul>
    </div>
</Layout>

<style>
    ul {
        /* No bullets */
        list-style: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 4px;
    }
    img {
        border: 1px solid #303030;
        border-radius: 4px;
    }
</style>