---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import MainPicture from "../components/MainPicture.astro";

const blogEntries = await getCollection("blog");
---

<Layout title="Andrei (f24816)">
    <div class="large" id="centered">
        <h1>📰 Articles</h1>
        <br/>
        <div class="post-grid">
            {
                blogEntries.map((entry) => (
                    <div>
                        <a href={`/blog/${entry.slug}`}>
                            <div
                                class="post_box"
                                style={`background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(2,2,2,0.9) 120%), url(${entry.data.image});`}
                            >
                            </div>
                        </a>
                        <div class="info py-2 pb-4">
                            <a href={`/blog/${entry.slug}`}><p class="sm-title my-2">{entry.data.title}</p></a>
                            <p class="description pb-4">{entry.body.substring(0, 140).split(" ").slice(0, -1).join(" ").replace("## ", "") + "..."}</p>
                        </div>
                    </div>
                ))
            }
        </div>
        <br/>
    </div>
</Layout>

<style lang="scss">
    .post-grid {
        display: grid;
        gap: 1rem;
    }
    @media screen and (min-width: 600px) {
        .post-grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    @media screen and (min-width: 900px) {
        .post-grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    @media screen and (min-width: 1100px) {
        .post-grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
    @media screen and (min-width: 1300px) {
        .post-grid {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
    @media screen and (min-width: 1700px) {
        .post-grid {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }
    @media screen and (min-width: 2000px) {
        .post-grid {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }
    }
    .date-topic {
        font-size: 13px;
    }
    .date-topic p {
        font-size: 14px;
    }
    .date-topic {
        border-radius: 4px;
        padding: 0 1rem;
        border: 1px solid #303030 ;
    }
    .sm-title {
        color: #bbb5ae;
        font-size: 1.3rem;
        font-weight: 500;
        text-decoration: none;
        font-family: "Inter", sans-serif;
    }
    .description {
        margin: 0;
        text-align: justify;
        color: #5e5b5b;
        font-size: 14px;
    }
    .post_box {
        border: 1px solid #303030;
        border-radius: 4px;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        width: 100%;
        aspect-ratio: 16 / 9;
    }
    a:hover {
        text-decoration: none;
    }
    ul {
        /* No bullets */
        list-style: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 4px;
    }
    .sm-title:hover {
        color: white;
    }
</style>
