---
import Layout from "../layouts/Layout.astro";
import { Content } from '../content/pages/resources.md';
---

<Layout title="Resources">
    <div id="centered">
        <h1>Resources</h1>
        <Content />
        <br/>
    </div>
</Layout>