---
---
<footer class="py-4 px-[8rem] line-content flex justify-between items-center">
    <div class="flex gap-8">
        <p class="text-center">© 2024 Popa Andrei Valentin</p>
    </div>
    <div class="flex gap-4">
        <p class="text-center">🚀 Powered by <a href="https://astro.build/" target="_blank">Astro</a></p>
        <p class="text-center">☕ <a href="https://ko-fi.com/f24816" target="_blank">Donations</a></p>
    </div>
</footer>

<style>
    p {
        margin: 0.6rem 0;
        font-size: 14px;
    }
</style>