---
---
<footer class="line-content flex flex-wrap justify-between items-center">
    <div class="flex">
        <p class="text-center">© 2024 Popa Andrei Valentin</p>
    </div>
    <div class="flex flex-wrap">
        <p class="text-center pr-4">🚀 Powered by <a href="https://astro.build/" target="_blank">Astro</a></p>
        <p class="pr-4"><a href="/rss.xml">RSS</a></p>
        <p class="pr-4"><a href="https://form.jotform.com/231973723081356">Contact</a></p>
    </div>
</footer>

<style>
    footer {
        padding: 1rem 8rem;
    }
    p {
        margin: 0.6rem 0;
        font-size: 14px;
    }
    @media (max-width: 900px) {
        footer {
            padding: 1rem 2rem;
        }
    }
</style>